[Desktop Entry]
Version=1.0
Type=Application
Name=Style Changer
Comment=Change Style for XFCE Desktop
Exec=/bin/sh -c "$HOME/.local/bin/change-style"
Icon=org.xfce.settings.appearance
Path=
Terminal=false
StartupNotify=false
