[Desktop Entry]
Version=1.0
Type=Application
Name=Light
Comment=Light Style for XFCE Desktop
Exec=/bin/sh -c "$HOME/.config/My_styles/Light.sh"
Icon=gtk-theme-config
Path=
Terminal=false
StartupNotify=false
