[Desktop Entry]
Name=FeatherPad
GenericName=Text Editor
Comment=Lightweight Qt text editor
Exec=x-text-editor %U
Icon=featherpad
Terminal=false
Type=Application
MimeType=text/plain;
Categories=Qt;Utility;TextEditor;
X-KDE-StartupNotify=false;
Keywords=Text;Editor;Plaintext;
