[Desktop Entry]
Version=1.0
Type=Application
Name=run
Comment=run rofi
Exec=rofi -theme ~/.config/rofi/xfce4/run_menu.rasi -show drun
Icon=
Path=
Terminal=false
StartupNotify=false
