[Desktop Entry]
Version=1.0
Type=Application
Name=run
Comment=run rofi
Exec=/bin/sh -c "$HOME/.local/bin/rofi/launcher"
Icon=
Path=
Terminal=false
StartupNotify=false
