[Desktop Entry]
Version=1.0
Type=Application
Name=run
Comment=run rofi
Exec=bin/sh -c "$HOME/.config/rofi/bin/runner"
Icon=
Path=
Terminal=false
StartupNotify=false
