[Desktop Entry]
Version=1.0
Type=Application
Name=Mountain
Comment=Mountain Style for XFCE Desktop
Exec=$HOME/.config/xfce4/styles/Mountain.sh
Icon=gtk-theme-config
Path=
Terminal=false
StartupNotify=false
