[Desktop Entry]
Version=1.0
Type=Application
Name=Adaptive
Comment=Adaptive Style for XFCE Desktop
Exec=$HOME/.config/xfce4/styles/Adaptive.sh
Icon=gtk-theme-config
Path=
Terminal=false
StartupNotify=false
