[Desktop Entry]
Version=1.0
Type=Application
Name=run
Comment=run rofi
Exec=rofi -theme ~/.config/rofi/openbox/run_menu -show drun
Icon=
Path=
Terminal=false
StartupNotify=false
