[Desktop Entry]
Type=Application
Exec=/usr/local/bin/conky-session
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=conky
Name=conky
Comment[en_US]=conky
Comment=conky
